{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="monetization" content="$ilp.uphold.com/AZJKQhpeJizf">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="alternate" type="application/atom+xml" title="IMTW Feed" href="{{ base_url }}.atom" />
    <link rel="alternate" type="application/rss+xml" title="IMTW Feed" href="{{ base_url }}.rss" />
    <link rel="alternate" type="application/json" title="IMTW Feed" href="{{ base_url }}.json" />

{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {% do assets.addCss('theme://css-compiled/theme'~compress) %}
    {% do assets.addCss('theme://css/theme.css',100) %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('theme://css/twentytwenty.css') %}
    {% do assets.addCss('theme://css/line-awesome.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.event.move.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.twentytwenty.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/my.js', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
<link rel="me" href="https://thias.hellqui.st/users/m">
<link rel="me" href="https://thias.hellqui.st/m">
<link rel="me" href="https://friendica.hellquist.eu/profile/mathias">
<link rel="me" href="https://me.dm/@hellquist">
<link rel="me" href="https://web.brid.gy/r/https://imakethingswork.com/">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="webmention" href="https://webmention.io/imakethingswork.com/webmention" />
<link rel="pingback" href="https://webmention.io/imakethingswork.com/xmlrpc" />
<link rel="stylesheet" href="https://use.typekit.net/xwc1izr.css">
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <div id="page-wrapper">

    {# added hidden page title for screen readers - hibbittsdesign.org #}
    <h1 class="hidden">{{ page.title }}</h1>

    {# check content display flag - hibbittsdesign.org #}
    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) %}
    {% block header deferred %}
        <section id="header" class="section">
            <section class="container {{ grid_size }}">
                <nav class="navbar">
                    <section class="navbar-section logo">
                        {% include 'partials/logo.html.twig' %}
                    </section>
                    <section class="navbar-section desktop-menu">

                        <nav class="dropmenu animated">
                        {% block header_navigation %}
                            {% include 'partials/navigation.html.twig' %}
                        {% endblock %}
                        </nav>

                        {% if config.plugins.login.enabled and grav.user.username %}
                            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                        {% endif %}

                    </section>
                </nav>
            </section>
        </section>
        <div class="mobile-menu">
            <div class="button_container" id="toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
    {% endblock %}

    {% block hero %}{% endblock %}
    {% else %}
      <div style="margin-bottom: -80px;"></div>
    {% endif %}

        <section id="start">
        {% block body %}
            <section id="body-wrapper" class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {% block content %}{% endblock %}

                    {# check to display CC License - hibbittsdesign.org #} {# check to display git sync link in page - hibbittsdesign.org #}
                    {% if theme_var('display_of_git_sync_repo_link') == 'page' and not (grav.uri.param('summaryonly') or grav.uri.param('onlysummary')) %}
                        <p>{% include 'partials/git_sync_repo_link_note.html.twig' %}</p>
                    {% endif %}
                    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) and (theme_var('cc_license.enabled') and not(page.header.hide_cc_license)) %}
                        <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
                    {% endif %}

                </section>
            </section>
        {% endblock %}
        </section>

    </div>

    {# check content display flag - hibbittsdesign.org #}
    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and (not theme_var('chromeless.enabled')) %}
        {% block footer %}
            <section id="footer" class="section">
                <section class="container {{ grid_size }}">
                    {# check to display git sync link in footer or not yet defined by saving theme settings - hibbittsdesign.org #}
                    {% if theme_var('display_of_git_sync_repo_link') == 'footer' %}
                        <br>{% include 'partials/git_sync_repo_link.html.twig' %}<br><br>
                    {% endif %}
                    {# display footer markdown page - hibbittsdesign.org #}
                    {% set content = pages.find('/footer').content %}
                    {% if content %}
                        {{ content|raw }}
                    {% endif %}
                </section>
            </section>
        {% endblock %}
    {% endif %}

    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>

{# added global scripts - hibbittsdesign.org #}
{% include 'partials/scripts.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
