<div class="content-item h-entry">
    <div class="p-content">
            {% set content = page.content %}
            {% if content is not empty %}
                {{ content|raw }}
            {% else %}
                {{ page.summary|raw }}
            {% endif %}
    </div>
    {% if config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
    {% endif %}

</div>

{# added check for content display flag - hibbittsdesign.org #}
{% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) and not (grav.uri.param('summaryonly') or grav.uri.param('onlysummary')) %}

    <p class="prev-next text-center">
        {% if not page.isLast %}
            <a class="btn" href="{{ page.prevSibling.url }}">
                <i class="fa fa-angle-left"></i>
                {{ 'THEME_QUARK.BLOG.ITEM.PREV_POST'|t }}
            </a>
        {% endif %}

        {% if not page.isFirst %}
            <a class="btn" href="{{ page.nextSibling.url }}">{{ 'THEME_QUARK.BLOG.ITEM.NEXT_POST'|t }}
                <i class="fa fa-angle-right"></i>
            </a>
        {% endif %}
    </p>

{% endif %}
