@font-face {
  font-family: 'SansForgetica-Regular';
  src: url('SansForgetica-Regular.eot');
  src: url('SansForgetica-Regular.eot?#iefix') format('embedded-opentype'),
       url('SansForgetica-Regular.svg#SansForgetica-Regular') format('svg'),
       url('SansForgetica-Regular.ttf') format('truetype'),
       url('SansForgetica-Regular.woff') format('woff'),
       url('SansForgetica-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

