{% extends 'partials/base.html.twig' %}
{% set social = page.find(theme_var('social-page')|default('/social')) %}
{% set show_sidebar = header_var('show_sidebar', [page, social]) %}
{% set show_pagination = header_var('show_pagination', [page, social]) %}

{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">
            {% embed 'partials/layout.html.twig' %}
                {% block item %}
                {% if page.header.service_twitter != 1 %}
                {% else %}
                    <a href="https://brid.gy/publish/twitter"></a>
                {% endif %}
                {% if page.header.service_mastodon != 1 %}
                {% else %}
                    <a href="https://brid.gy/publish/mastodon"></a>
                {% endif %}
                    <a href="{{ page.url }}" class="u-url">{% include 'partials/blog/date.html.twig' %}</a>
                    {% include 'partials/social-item.html.twig' %}
                {% endblock %}
                    {% block sidebar %}
                        {% include 'partials/sidebar.html.twig' %}
                    {% endblock %}
            {% endembed %}

        </section>
    </section>
{% endblock %}
