/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* Load of Font Awesome for use by Presentation Plugin */
/* @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'); */

/* CSS to style Presentation Plugin slides */
.reveal .slides {
    text-align: left;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: unset !important;
}

#blog-hero h2 {
    font-weight: lighter;
}

#blog-hero h2 strong, #blog-hero h2 b {
    font-weight: 500;
}

h3, h4, h5, h6, blockquote, .e-content h2 {
    font-family: alda, sans-serif;
    font-weight: 400;
    font-style: normal;
}
blockquote {
    font-style: italic;
}

#sidebar {
    font-size: .7rem;
}


.e-content, .card-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}

body {
    font-size: 1rem;
}

.card-body {
    line-height: 1.5;
    font-size: .9rem;
}

.notices, .figcaption, figure.image-caption {
    font-size: .8rem;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}

.gitrepo-link-note {
    text-align: center;
}


.e-content > p:first-of-type::first-letter, h3 + p::first-letter, h3 + figure + p::first-letter, h3 + a + figure + p::first-letter {
    float: left;
    font-size: 3.5rem;
    margin-top: 0.15em;
    margin-right: 0.12em;
    vertical-align: text-top;
    line-height: 0.7;
}

.search-wrapper .search-input {
    width: 100%;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
    color: #09f;
    text-decoration: none;
    border-style: dotted;
    margin-top: 2em;
}

body.photo {
    background: #303030;
    color: #eee;
}

body.photo h3, body.photo h4, body.photo h5 {
    color: #fff;
}

@media (max-width: 840px) {
    #breadcrumbs {
        font-size: .7rem;
        line-height: 1em;
    }
}

#footer {
    background: #151515;
}